# python环境
backend/python/.venv

# 不必要的文件
.trae/*
**/.idea/
**/response.txt
**/node_modules
**/*.docx

# 安全文件
**/.env
**/application-local.yml

#pycharm缓存
./backend/python/app/__pycache__

# Ignore Python __pycache__ directories
backend/python/**/__pycache__/

# Reranker Model
backend/python/embedding_recommendation/model/Qwen3-Reranker-4B.Q5_K_M.gguf
backend/python/embedding_recommendation/safe_tensor_model/
backend/python/embedding_recommendation/model/
backend/python/app/Qwen3-reranker
